// Colors
$color-main: #fc983c;
$color-main-new: #8F2592;
$color-blue: #29649D;
$color-white: #fff;
$color-white-light: #F1F1F1;
$color-white-light-2: #DCDCDC;
$color-white-light-3: #5E5B59;
$color-dark: #262626;
$color-dark-2: #242424;
$color-border: rgba(0, 0, 0, 0.1);
$color-black: #000;
$color-green: #acee00;
$color-yellow-changed: #ACEE00;
$color-yellow-primary: #d3ab55;
$color-white-secondary : #bbb;

// Fonts
$font-marsneveneksk: Marsneveneksk;
$font-heroes: Heroes;
$font-writers: Writers;
$font-sweetHeart: SweetHeart;
$font-virgin: virgin;
$font-BYekan: BYekan;





// Mixins
@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin cardOptions {
    background-color: $color-dark-2;
    color: $color-white-light-2;
    border-radius: 5px;
    text-align: right;
    margin: 10px;
    padding: 10px 20px;
    font-family: $font-BYekan;
    font-weight: 600;
    font-size: 1.7rem;
}

%fullSpace {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}



@font-face {
    font-family: Marsneveneksk;
    src: url("/assets/fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}

@font-face {
    font-family: Heroes;
    src: url("/assets/fonts/urban_heroes/Urban\ Heroes.ttf");
}

@font-face {
    font-family: Writers;
    src: url("/assets/fonts/WritersFamily_OTF/Writers_Condensed.otf") format("otf");
    font-weight: normal;
}

@font-face {
    font-family: SweetHeart;
    src: url("/assets/fonts/sweetheart/Sweetheart.otf");
}

@font-face {
    font-family: virgin;
    src: url("/assets/fonts/virginias_kool_font_6918327/VirginiaKoolFont.ttf") format("ttf");
}

@font-face {
    font-family: BYekan;
    src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}


@mixin transition($params...) {
    transition: $params;
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
}

@mixin bold-dark {
    font-weight: 700;
    color: $color-dark;
}

@mixin titleBrands {
    color: $color-white;
    font-weight: 500;
}

@mixin pTagFooter {
    color: $color-white-light-3;
    font-weight: 500;
    font-size: 0.85rem;
    margin-top: 5px;
}

@mixin co2 ($color, $width) {
    display: flex;
    align-items: center;
    background-color: $color;
    color: $color-white-light;
    height: 12px;
    width: $width;
    font-size: 0.55rem;
    font-weight: 500;
    padding-left: 3px;
    position: relative;
    margin-bottom: 5px;

    & .arrow {
        width: 20px;
        height: 10px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid $color;
        position: absolute;
        right: -20px;
    }

    & .selected {
        width: 40px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $color-dark;
        color: $color-white-light-2;
        position: absolute;
        right: -70px;
        text-align: right;
        padding-right: 3px;
        font-size: 0.75rem;

        & .arrow-selected {
            width: 20px;
            height: 22px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $color-dark;
            position: absolute;
            left: -20px;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}