.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Marsneveneksk;
  src: url("/assets/fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}
@font-face {
  font-family: Heroes;
  src: url("/assets/fonts/urban_heroes/Urban Heroes.ttf");
}
@font-face {
  font-family: Writers;
  src: url("/assets/fonts/WritersFamily_OTF/Writers_Condensed.otf") format("otf");
  font-weight: normal;
}
@font-face {
  font-family: SweetHeart;
  src: url("/assets/fonts/sweetheart/Sweetheart.otf");
}
@font-face {
  font-family: virgin;
  src: url("/assets/fonts/virginias_kool_font_6918327/VirginiaKoolFont.ttf") format("ttf");
}
@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acee00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.c-style {
  font-size: 15rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
  position: absolute;
  top: 100px;
  left: 350px;
  transition: font-size 0.3s;
  cursor: pointer;
  font-family: Heroes;
  animation-name: c-anime;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: -3.9s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes c-anime {
  0% {
    top: 100px;
    left: -350px;
  }
  100% {
    top: 100px;
    left: 350px;
  }
}
.c-style .descrip {
  width: 200px;
  height: 50px;
  display: none;
  transition: display 0.1s;
  font-size: 5rem;
  text-align: left;
}
.c-style:hover {
  color: #acee00;
  font-size: 15.5rem;
}
.c-style:hover .descrip {
  display: block;
  color: #fff;
  font-family: Marsneveneksk;
}

.r-style {
  font-size: 15rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
  position: absolute;
  top: 100px;
  left: 500px;
  transition: font-size 0.3s;
  cursor: pointer;
  font-family: Heroes;
  animation-name: r-anime;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: -3.9s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes r-anime {
  0% {
    top: -300px;
    left: 500px;
  }
  100% {
    top: 100px;
    left: 500px;
  }
}
.r-style .descrip {
  width: 200px;
  height: 50px;
  display: none;
  transition: display 0.1s;
  font-size: 5rem;
  text-align: left;
}
.r-style:hover {
  color: #acee00;
  font-size: 15.5rem;
}
.r-style:hover .descrip {
  display: block;
  color: #fff;
  font-family: Marsneveneksk;
}

.u-style {
  font-size: 15rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
  position: absolute;
  top: 100px;
  right: 530px;
  transition: font-size 0.3s;
  cursor: pointer;
  font-family: Heroes;
  animation-name: u-anime;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: -3.9s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes u-anime {
  0% {
    top: 1300px;
    right: 530px;
  }
  100% {
    bottom: 100px;
    right: 530px;
  }
}
.u-style .descrip {
  width: 200px;
  height: 50px;
  display: none;
  transition: display 0.1s;
  font-size: 5rem;
  text-align: left;
}
.u-style:hover {
  color: #acee00;
  font-size: 15.5rem;
}
.u-style:hover .descrip {
  display: block;
  color: #fff;
  font-family: Marsneveneksk;
}

.e-style {
  font-size: 15rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
  position: absolute;
  top: 100px;
  right: 410px;
  transition: font-size 0.3s;
  cursor: pointer;
  font-family: Heroes;
  animation-name: e-anime;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: -3.9s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes e-anime {
  0% {
    top: 100px;
    right: -410px;
  }
  100% {
    bottom: 100px;
    right: 410px;
  }
}
.e-style .descrip {
  width: 200px;
  height: 50px;
  display: none;
  transition: display 0.1s;
  font-size: 5rem;
  text-align: left;
}
.e-style:hover {
  color: #acee00;
  font-size: 15.5rem;
}
.e-style:hover .descrip {
  display: block;
  color: #fff;
  font-family: Marsneveneksk;
}/*# sourceMappingURL=landingPage.css.map */