@import '../../../Component//MainScss/base';
@import '../../../Component//MainScss/components';

.c-style {
    font-size: 15rem;
    font-weight: bolder;
    color: $color-white;
    text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
    position: absolute;
    top: 100px;
    left: 350px;
    transition: font-size .3s;
    cursor: pointer;
    font-family: $font-heroes;
    animation-name: c-anime;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: -3.9s;
    animation-iteration-count: 1;
    animation-direction: normal;

    @keyframes c-anime {
        0% {
            top: 100px;
            left: -350px;
        }

        100% {
            top: 100px;
            left: 350px;
        }
    }

    .descrip {
        width: 200px;
        height: 50px;
        display: none;
        transition: display .1s;
        font-size: 5rem;
        text-align: left;
    }

    &:hover {
        color: $color-green;
        font-size: 15.5rem;
        // top: 30px;
    }

    &:hover .descrip {
        display: block;
        color: $color-white;
        font-family: $font-marsneveneksk;
    }
}



.r-style {
    font-size: 15rem;
    font-weight: bolder;
    color: $color-white;
    text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
    position: absolute;
    top: 100px;
    left: 500px;
    transition: font-size .3s;
    cursor: pointer;
    font-family: $font-heroes;
    animation-name: r-anime;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: -3.9s;
    animation-iteration-count: 1;
    animation-direction: normal;

    @keyframes r-anime {
        0% {
            top: -300px;
            left: 500px;
        }

        100% {
            top: 100px;
            left: 500px;
        }
    }

    .descrip {
        width: 200px;
        height: 50px;
        display: none;
        transition: display .1s;
        font-size: 5rem;
        text-align: left;
    }

    &:hover {
        color: $color-green;
        font-size: 15.5rem;
        // top: 30px;
    }

    &:hover .descrip {
        display: block;
        color: $color-white;
        font-family: $font-marsneveneksk;
    }
}

.u-style {
    font-size: 15rem;
    font-weight: bolder;
    color: $color-white;
    text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
    position: absolute;
    top: 100px;
    right: 530px;
    transition: font-size .3s;
    cursor: pointer;
    font-family: $font-heroes;
    animation-name: u-anime;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: -3.9s;
    animation-iteration-count: 1;
    animation-direction: normal;

    @keyframes u-anime {
        0% {
            top: 1300px;
            right: 530px;
        }

        100% {
            bottom: 100px;
            right: 530px;
        }
    }

    .descrip {
        width: 200px;
        height: 50px;
        display: none;
        transition: display .1s;
        font-size: 5rem;
        text-align: left;
    }

    &:hover {
        color: $color-green;
        font-size: 15.5rem;
        // top: 30px;
    }

    &:hover .descrip {
        display: block;
        color: $color-white;
        font-family: $font-marsneveneksk;
    }
}

.e-style {
    font-size: 15rem;
    font-weight: bolder;
    color: $color-white;
    text-shadow: 2px 2px 3px black, 3px 3px 4px blue;
    position: absolute;
    top: 100px;
    right: 410px;
    transition: font-size .3s;
    cursor: pointer;
    font-family: $font-heroes;
    animation-name: e-anime;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-delay: -3.9s;
    animation-iteration-count: 1;
    animation-direction: normal;

    @keyframes e-anime {
        0% {
            top: 100px;
            right: -410px;
        }

        100% {
            bottom: 100px;
            right: 410px;
        }
    }

    .descrip {
        width: 200px;
        height: 50px;
        display: none;
        transition: display .1s;
        font-size: 5rem;
        text-align: left;
    }

    &:hover {
        color: $color-green;
        font-size: 15.5rem;
        // top: 30px;
    }

    &:hover .descrip {
        display: block;
        color: $color-white;
        font-family: $font-marsneveneksk;
    }
}