@import '../../../../Component/MainScss/base';
@import '../../../../Component//MainScss/components';
@import '../../../../Component//MainScss/layout';

.panel-product {
    min-height: 500px;
    margin-top: 20px;
    background-color: $color-white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    &-header {
        font-family: arial;
        padding: 20px 30px 20px 0;
        text-align: right;

        .fa-type {
            font-family: tahoma;
        }
    }

    &-left {
        height: 550px;
        overflow-x: hidden;
        overflow-y: visible;

        .btn-close {
            position: absolute;
            left: 20px;
        }

        .info-modal-data {
            border-bottom: 1px solid #eeeeee;
            display: flex;
            justify-content: space-between;
            font-family: $font-BYekan;
            margin-bottom: 20px;
            color: $color-dark-2;
            transition: border-bottom .4s;

            &:hover {
                border-bottom: 1px solid $color-yellow-changed;
            }
        }

        &-tecnicalInfo {
            @include cardOptions;
            cursor: pointer;

            .title {
                font-size: 1.4rem;
            }

            .fa {
                font-size: 0.9rem;
            }
        }

        &-panel-color {
            @include cardOptions;

            .title {
                font-size: 1.4rem;
                border-bottom: solid 1px $color-yellow-changed;
            }

            .color-button {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin-bottom: 30px;

                .btn {
                    width: 95%;
                    height: 55px;
                }

                &-text {
                    font-weight: unset;
                    font-size: 0.85rem;
                }
            }
        }

        &-storage-panel {
            @include cardOptions;

            .title {
                font-size: 1.4rem;
                border-bottom: solid 1px $color-yellow-changed;
            }

            .box {

                &-icon {
                    width: 95%;
                    border: solid 1px $color-white;
                    border-radius: 5px;
                    padding: 30px;
                    transition: padding .2s;
                    cursor: pointer;

                    &:hover {
                        padding: 20px;
                    }
                }

                &-text {
                    text-align: left;
                    font-size: 0.85rem;
                    font-family: tahoma;
                }
            }
        }
    }

    &-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        .carousel-item {
            height: 413px;
        }
    }

    &-information {
        margin-top: 20px;

        &-intro {
            padding: 20px 30px 20px 0;
            text-align: right;

            p {
                padding-left: 25px;
                text-align: justify;
                direction: rtl;
            }
        }
    }

    .nav-pills {
        padding-left: 15px;
        font-family: arial;

        & .nav-link {
            color: $color-dark;
            padding-bottom: 10px;
            font-size: 1.2rem;
        }

        & .nav-link.active,
        & .show>.nav-link {
            color: $color-dark;
            text-decoration: underline;
            background-color: transparent;
            text-underline-offset: .5em;
        }
    }
}

.checkout-panel {
    position: fixed;
    bottom: -110px;
    left: 0;
    height: 100px;
    border-radius: 5px 5px 0 0;
    transition: height .3s;
    z-index: 9999;
    color: $color-white;
    padding: 20px;
    font-weight: 500;
    font-family: $font-BYekan;
    background: rgba(2, 2, 2, 0.77);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);

    &.checkout-animation {
        animation-name: check;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-iteration-count: 1;
        animation-fill-mode: both;

        @keyframes check {
            0% {
                bottom: -110px;
            }

            100% {
                bottom: 0;
            }
        }
    }
}