.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Marsneveneksk;
  src: url("/assets/fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}
@font-face {
  font-family: Heroes;
  src: url("/assets/fonts/urban_heroes/Urban Heroes.ttf");
}
@font-face {
  font-family: Writers;
  src: url("/assets/fonts/WritersFamily_OTF/Writers_Condensed.otf") format("otf");
  font-weight: normal;
}
@font-face {
  font-family: SweetHeart;
  src: url("/assets/fonts/sweetheart/Sweetheart.otf");
}
@font-face {
  font-family: virgin;
  src: url("/assets/fonts/virginias_kool_font_6918327/VirginiaKoolFont.ttf") format("ttf");
}
@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acee00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: -50vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .right-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-right .right-img-1 {
  top: 15%;
  right: 15%;
}
.navbar-navigation-right .right-img-2 {
  top: 35%;
  right: 25%;
}
.navbar-navigation-right .right-img-3 {
  top: 55%;
  right: 35%;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  left: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 25px;
  text-align: center;
  transition: all 0.3s;
}
.navbar-navigation .nav-list-link:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
  top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.panel-product {
  min-height: 500px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.panel-product-header {
  font-family: arial;
  padding: 20px 30px 20px 0;
  text-align: right;
}
.panel-product-header .fa-type {
  font-family: tahoma;
}
.panel-product-left {
  height: 550px;
  overflow-x: hidden;
  overflow-y: visible;
}
.panel-product-left .btn-close {
  position: absolute;
  left: 20px;
}
.panel-product-left .info-modal-data {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  font-family: BYekan;
  margin-bottom: 20px;
  color: #242424;
  transition: border-bottom 0.4s;
}
.panel-product-left .info-modal-data:hover {
  border-bottom: 1px solid #ACEE00;
}
.panel-product-left-tecnicalInfo {
  background-color: #242424;
  color: #DCDCDC;
  border-radius: 5px;
  text-align: right;
  margin: 10px;
  padding: 10px 20px;
  font-family: BYekan;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
}
.panel-product-left-tecnicalInfo .title {
  font-size: 1.4rem;
}
.panel-product-left-tecnicalInfo .fa {
  font-size: 0.9rem;
}
.panel-product-left-panel-color {
  background-color: #242424;
  color: #DCDCDC;
  border-radius: 5px;
  text-align: right;
  margin: 10px;
  padding: 10px 20px;
  font-family: BYekan;
  font-weight: 600;
  font-size: 1.7rem;
}
.panel-product-left-panel-color .title {
  font-size: 1.4rem;
  border-bottom: solid 1px #ACEE00;
}
.panel-product-left-panel-color .color-button {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.panel-product-left-panel-color .color-button .btn {
  width: 95%;
  height: 55px;
}
.panel-product-left-panel-color .color-button-text {
  font-weight: unset;
  font-size: 0.85rem;
}
.panel-product-left-storage-panel {
  background-color: #242424;
  color: #DCDCDC;
  border-radius: 5px;
  text-align: right;
  margin: 10px;
  padding: 10px 20px;
  font-family: BYekan;
  font-weight: 600;
  font-size: 1.7rem;
}
.panel-product-left-storage-panel .title {
  font-size: 1.4rem;
  border-bottom: solid 1px #ACEE00;
}
.panel-product-left-storage-panel .box-icon {
  width: 95%;
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 30px;
  transition: padding 0.2s;
  cursor: pointer;
}
.panel-product-left-storage-panel .box-icon:hover {
  padding: 20px;
}
.panel-product-left-storage-panel .box-text {
  text-align: left;
  font-size: 0.85rem;
  font-family: tahoma;
}
.panel-product-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.panel-product-right .carousel-item {
  height: 413px;
}
.panel-product-information {
  margin-top: 20px;
}
.panel-product-information-intro {
  padding: 20px 30px 20px 0;
  text-align: right;
}
.panel-product-information-intro p {
  padding-left: 25px;
  text-align: justify;
  direction: rtl;
}
.panel-product .nav-pills {
  padding-left: 15px;
  font-family: arial;
}
.panel-product .nav-pills .nav-link {
  color: #262626;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.panel-product .nav-pills .nav-link.active, .panel-product .nav-pills .show > .nav-link {
  color: #262626;
  text-decoration: underline;
  background-color: transparent;
  text-underline-offset: 0.5em;
}

.checkout-panel {
  position: fixed;
  bottom: -110px;
  left: 0;
  height: 100px;
  border-radius: 5px 5px 0 0;
  transition: height 0.3s;
  z-index: 9999;
  color: #fff;
  padding: 20px;
  font-weight: 500;
  font-family: BYekan;
  background: rgba(2, 2, 2, 0.77);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}
.checkout-panel.checkout-animation {
  animation-name: check;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes check {
  0% {
    bottom: -110px;
  }
  100% {
    bottom: 0;
  }
}/*# sourceMappingURL=CustomProduct.css.map */