@import '../../../Component//MainScss/base';
@import '../../../Component//MainScss/components';
@import '../../../Component//MainScss/layout';


.main-types {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    margin: 80px 0;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card-category {
        position: relative;
        display: block;
        width: 250px;
        height: 200px;
        background: $color-white;
        border-radius: 3px;
        transition: box-shadow .5s;
        overflow: hidden;
        cursor: pointer;

        img {
            object-fit: cover;
            display: block;
            height: 100%;
        }

        &:hover img {
            filter: brightness(50%);
            transition: all .2s;
        }



        .card-left {
            // background-color: orangered;
            height: 30px;
            display: block;
            position: absolute;
            left: -130px;
            top: 35%;
            text-align: right;
            color: $color-white;
            transition: left .4s;

            span {
                font-size: 1.7rem;
                font-family: $font-sweetHeart;
            }
        }

        &:hover .card-left {
            left: 0;
        }

        .card-right {
            // background-color: blue;
            height: 30px;
            display: block;
            position: absolute;
            right: -130px;
            top: 45%;
            text-align: left;
            color: $color-white;
            transition: right .4s;

            span {
                font-size: 1.7rem;
                font-family: $font-sweetHeart;
            }
        }

        &:hover .card-right {
            right: 0;
        }

    }
}

.modal-data-results {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .data-results {
        color: $color-white-secondary;
        font-size: 2.8rem;
        box-shadow: none;
        opacity: 1;
        min-height: 30px;
        min-width: 10px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: tahoma;
        // background-color: red;
        // padding: 60px 10px;
        margin-bottom: 10px;
        transition: letter-spacing .3s;
        // @include textStyles;

        &:hover {
            color: $color-yellow-changed;
            letter-spacing: 4px;
        }
    }

}