.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Marsneveneksk;
  src: url("/assets/fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}
@font-face {
  font-family: Heroes;
  src: url("/assets/fonts/urban_heroes/Urban Heroes.ttf");
}
@font-face {
  font-family: Writers;
  src: url("/assets/fonts/WritersFamily_OTF/Writers_Condensed.otf") format("otf");
  font-weight: normal;
}
@font-face {
  font-family: SweetHeart;
  src: url("/assets/fonts/sweetheart/Sweetheart.otf");
}
@font-face {
  font-family: virgin;
  src: url("/assets/fonts/virginias_kool_font_6918327/VirginiaKoolFont.ttf") format("ttf");
}
@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acee00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: -50vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .right-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-right .right-img-1 {
  top: 15%;
  right: 15%;
}
.navbar-navigation-right .right-img-2 {
  top: 35%;
  right: 25%;
}
.navbar-navigation-right .right-img-3 {
  top: 55%;
  right: 35%;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  left: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 25px;
  text-align: center;
  transition: all 0.3s;
}
.navbar-navigation .nav-list-link:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
  top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.main-types {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  margin: 80px 0;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-types .card-category {
  position: relative;
  display: block;
  width: 250px;
  height: 200px;
  background: #fff;
  border-radius: 3px;
  transition: box-shadow 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.main-types .card-category img {
  object-fit: cover;
  display: block;
  height: 100%;
}
.main-types .card-category:hover img {
  filter: brightness(50%);
  transition: all 0.2s;
}
.main-types .card-category .card-left {
  height: 30px;
  display: block;
  position: absolute;
  left: -130px;
  top: 35%;
  text-align: right;
  color: #fff;
  transition: left 0.4s;
}
.main-types .card-category .card-left span {
  font-size: 1.7rem;
  font-family: SweetHeart;
}
.main-types .card-category:hover .card-left {
  left: 0;
}
.main-types .card-category .card-right {
  height: 30px;
  display: block;
  position: absolute;
  right: -130px;
  top: 45%;
  text-align: left;
  color: #fff;
  transition: right 0.4s;
}
.main-types .card-category .card-right span {
  font-size: 1.7rem;
  font-family: SweetHeart;
}
.main-types .card-category:hover .card-right {
  right: 0;
}

.modal-data-results {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-data-results .data-results {
  color: #bbb;
  font-size: 2.8rem;
  box-shadow: none;
  opacity: 1;
  min-height: 30px;
  min-width: 10px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: tahoma;
  margin-bottom: 10px;
  transition: letter-spacing 0.3s;
}
.modal-data-results .data-results:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}/*# sourceMappingURL=CustomPage.css.map */