@import '../../../MainScss/base';
@import '../../../MainScss/components';
@import '../../../MainScss/layout';

body {
    background-image: url(/assets/images/background/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    // overflow: scroll;
}

// Start Navbar
.navabr-stylish {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // background-color: $color-black;
    height: 100px;

    .link {
        text-decoration: none;
        color: $color-white;
        font-family: $font-heroes;
        font-size: 1.5rem;
        font-weight: 550;
        transition: border-bottom .1s;

        &:hover {
            color: $color-green;
            border-bottom: 3px solid $color-green;
        }
    }
}

// End Navbar

// Start Footer
.footer {
    background-color: $color-white;
    height: 110px;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    display: flex;
    margin-top: 50px;
    align-items: center;

    &-directions {
        height: 70px;
        border-left: solid 1px $color-white-light-3;
        padding: 10px 15px;

        .direct {
            text-decoration: none;
            color: $color-white-light-3;
            font-weight: 500;
            font-size: 0.85rem;
            margin-right: 15px;

            &:hover {
                color: $color-green;
            }
        }

        p {
            @include pTagFooter()
        }
    }

    &-socials {
        margin-top: 20px;
        padding-right: 50px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        .social {
            text-decoration: none;
            color: $color-white-light-3;
            margin-right: 15px;

            &:hover {
                color: $color-green;
            }
        }

        p {
            @include pTagFooter()
        }
    }
}

// End Footer