.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Marsneveneksk;
  src: url("/assets/fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}
@font-face {
  font-family: Heroes;
  src: url("/assets/fonts/urban_heroes/Urban Heroes.ttf");
}
@font-face {
  font-family: Writers;
  src: url("/assets/fonts/WritersFamily_OTF/Writers_Condensed.otf") format("otf");
  font-weight: normal;
}
@font-face {
  font-family: SweetHeart;
  src: url("/assets/fonts/sweetheart/Sweetheart.otf");
}
@font-face {
  font-family: virgin;
  src: url("/assets/fonts/virginias_kool_font_6918327/VirginiaKoolFont.ttf") format("ttf");
}
@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acee00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: -50vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .right-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-right .right-img-1 {
  top: 15%;
  right: 15%;
}
.navbar-navigation-right .right-img-2 {
  top: 35%;
  right: 25%;
}
.navbar-navigation-right .right-img-3 {
  top: 55%;
  right: 35%;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  left: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 25px;
  text-align: center;
  transition: all 0.3s;
}
.navbar-navigation .nav-list-link:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
  top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

body {
  background-image: url(/assets/images/background/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navabr-stylish {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
.navabr-stylish .link {
  text-decoration: none;
  color: #fff;
  font-family: Heroes;
  font-size: 1.5rem;
  font-weight: 550;
  transition: border-bottom 0.1s;
}
.navabr-stylish .link:hover {
  color: #acee00;
  border-bottom: 3px solid #acee00;
}

.footer {
  background-color: #fff;
  height: 110px;
  display: flex;
  margin-top: 50px;
  align-items: center;
}
.footer-directions {
  height: 70px;
  border-left: solid 1px #5E5B59;
  padding: 10px 15px;
}
.footer-directions .direct {
  text-decoration: none;
  color: #5E5B59;
  font-weight: 500;
  font-size: 0.85rem;
  margin-right: 15px;
}
.footer-directions .direct:hover {
  color: #acee00;
}
.footer-directions p {
  color: #5E5B59;
  font-weight: 500;
  font-size: 0.85rem;
  margin-top: 5px;
}
.footer-socials {
  margin-top: 20px;
  padding-right: 50px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer-socials .social {
  text-decoration: none;
  color: #5E5B59;
  margin-right: 15px;
}
.footer-socials .social:hover {
  color: #acee00;
}
.footer-socials p {
  color: #5E5B59;
  font-weight: 500;
  font-size: 0.85rem;
  margin-top: 5px;
}/*# sourceMappingURL=Layout.css.map */