.main-loading{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.main-loading img{
	width: 4%!important
}

/* Mobile */
@media (max-width: 767px) { 
.main-loading img{
	width: 100px;
}
}