.error-area {
    height: 100vh;
    text-align: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffd83c;
    position: relative;
    /* background-image: url("../images/error/404-bg.png"); */
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }

  .error-area img{
    width: 100vw;
  }

  .button{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .btn{
    background-color: #262626;
    color: #eeeeee;
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn:hover {
    background-color: #ffd83c;
    border: 1px solid #262626;
    color: #262626;
  }